.blackColor{
    color: #000000;
  }
  
  .blueColor{
    color: #18BC9C;
  
  }
  
  .card-text {
    font-size: 1.25rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
  }